BasedOnStyle: LLVM
IndentWidth: 4
UseTab: Never
BreakBeforeBraces: Linux
AllowShortIfStatementsOnASingleLine: false
IndentCaseLabels: false
AlignConsecutiveMacros:
    Enabled: true
    AcrossEmptyLines: false
    AcrossComments: false
AlignConsecutiveAssignments: true
AllowShortBlocksOnASingleLine: Always
SpacesBeforeTrailingComments: 1
AlignTrailingComments: true